h1 {
    margin-left: 10%;
    margin-right: 10%;
}

p {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.2em;
}

form {
    margin-top: 50px;
    text-align: center;

    mat-form-field {
        width: 80%;
        max-width: 800px;
    }

    button {
        width: 80%;
        max-width: 800px;
    }
}
