<div>
    <!-- Section title -->
    <header>
        <h2>{{'contactPage.title' | translate}}</h2>
    </header>
    <!-- Description -->
    <p>{{'contactPage.description'| translate}} </p>

    <form>
        <!-- Nombre -->
        <mat-form-field class="example-full-width">
            <mat-label>{{'contactPage.nameInput' | translate}}</mat-label>
            <input matInput>
        </mat-form-field>
        <br>
        <!-- Email -->
        <mat-form-field class="example-full-width">
            <mat-label>{{'contactPage.emailInput' | translate}}</mat-label>
            <input matInput>
        </mat-form-field>
        <br>
        <!-- Content -->
        <mat-form-field class="example-full-width">
            <mat-label>{{'contactPage.suggestionInput' | translate}}</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>
        <br>
        <!-- Button -->
        <button mat-raised-button color="primary">{{'contactPage.submitButton' | translate}}</button>
    </form>
</div>
