div {
    header {
        margin-left: 24px;
    }

    p {
        margin-left: 24px;
    }

    form {
        text-align: center;
        
        mat-form-field {
            width: 90%;
            max-width: 800px;
        }

        button {
            width: 90%;
            max-width: 800px;
        }
    }
}