<header>
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span>VeggieWeb</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
      </mat-toolbar>

    <!-- Logo -->
    <div>
        <img>
    </div>
    <!-- Navigation menu -->
    <nav>
        <ul>
            <li><a routerLink="../home">{{'navigation.home' | translate}}</a></li>
            <li><a routerLink="../veggie/list">{{'navigation.veggies' | translate}}</a></li>
            <li><a routerLink="../contact">{{'navigation.contact' | translate}}</a></li>
        </ul>
    </nav>
    <!-- Languages menu -->
    <nav>
        <header>Idiomas</header>
        <ul>
            <li lang="es">
                <button (click)="changeLanguage('es')">Español</button>
            </li>
            <li lang="en">
                <button (click)="changeLanguage('en')">English</button>
            </li>
        </ul>
    </nav>
</header>
