<header>
    <mat-toolbar color="primary" fxLayout="column" fxLayoutAlign="flex-start center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center" class="toolbar">     
        <!-- Logo & title -->
        <div>
            <span>VeggieWeb</span>
        </div>
        
        <div fxLayout="row" fxLayoutAlign="flex-start center">
            <!-- Navigation menu -->
            <nav class="navigation-menu" attr.aria-label="{{'accessibility.navigationAria' | translate}}-header">
                <ul fxLayout="row" fxLayoutAlign="flex-start center">
                    <li><a mat-button type="button" title="{{'accessibility.homeLinkDescription' | translate}}" routerLink="../home">{{'navigation.home' | translate}}</a></li>
                    <li><a mat-button type="button" title="{{'accessibility.veggiesLinkDescription' | translate}}" routerLink="../veggie/list">{{'navigation.veggies' | translate}}</a></li>
                    <li><a mat-button type="button" title="{{'accessibility.contactLinkDescription' | translate}}" routerLink="../contact">{{'navigation.contact' | translate}}</a></li>
                </ul>
            </nav>
            
            
        </div>
      </mat-toolbar>

    
    
    
</header>
