<header>
    <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">     
        <!-- Logo & title -->
        <div>
            <img>
            <span>VeggieWeb</span>
        </div>
        
        <div fxLayout="row" fxLayoutAlign="flex-start center">
            <!-- Navigation menu -->
            <nav class="navigation-menu">
                <ul fxLayout="row" fxLayoutAlign="flex-start center">
                    <li><a mat-button routerLink="../home">{{'navigation.home' | translate}}</a></li>
                    <li><a mat-button routerLink="../veggie/list">{{'navigation.veggies' | translate}}</a></li>
                    <li><a mat-button routerLink="../contact">{{'navigation.contact' | translate}}</a></li>
                </ul>
            </nav>
            
            
        </div>
      </mat-toolbar>

    
    
    
</header>
