<div class="content-section">
    <!-- Section title -->
    <header>
        <h1>{{'veggieListPage.title' | translate}}</h1>
    </header>
    <!-- Description -->
    <p>{{'veggieListPage.description'| translate}} </p>

    <!-- All items -->
    <ul  class="veggie-grid">
        <li *ngFor="let veggie of veggies">
            <mat-card>
                <img mat-card-image [src]="veggie.photoUrl" alt={{veggie.photoDescription}}>
                <mat-card-content>
                    <h2>
                        <mat-card-title>{{veggie.name}}</mat-card-title>
                    </h2>
                    <mat-card-subtitle>{{veggie.type}}</mat-card-subtitle>
                  <p>{{veggie.description}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-stroked-button color="primary" [routerLink]="['../../veggie', veggie.id]" attr.aria-label="{{'veggieListPage.readMoreAbout' | translate}} {{veggie.name}}">{{'veggieListPage.readMore' | translate}}</button>
                </mat-card-actions>
              </mat-card>
        </li>
    </ul>

    <div fxLayout="column" fxLAyoutAlign="flex-start center" class="vertical-padding">
        <p class="text-center">{{'veggieListPage.wantMoreDescription' | translate}}</p>
        <div fxLayout="row" fxLayoutAlign="center center">
            <a mat-flat-button color="primary" href="../../contact">{{'veggieListPage.contactUs' | translate}}</a>
        </div>
    </div>
</div>


