<footer fxLayout="column" fxLayoutAlign="flex-start center" class="content-section">
    <div fxLayout="column"  class="footer-layout">
        <div fxLayout="column" fxLayoutAlign="flex-start stretch"
        fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between flex-start">
            <div>
                <p class="mat-headline">VeggieWeb</p>
                <p class="mat-body">{{'footer.pageDescription'}}</p>

                <div class="social">
                    <ul fxLayout="row" fxLayoutAlign="flex-start center">
                        <li>
                            <a fxLayout="row" fxLayoutAlign="flex-start center" href="https://twitter.com/?lang=es">
                                <i class="fab fa-twitter"></i>
                                Twitter
                            </a>
                        </li>
                        <li>
                            <a fxLayout="row" fxLayoutAlign="flex-start center" href="https://www.youtube.com/">
                                <i class="fab fa-youtube"></i>
                                Youtube
                            </a>
                        </li>
                        <li>
                            <a fxLayout="row" fxLayoutAlign="flex-start center" href="https://es-es.facebook.com/">
                                <i class="fab fa-facebook"></i>
                                Facebook
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <nav class="footer-navigation" >
                <ul>
                    <li><a routerLink="../home">{{'navigation.home' | translate}}</a></li>
                    <li><a routerLink="../veggie/list">{{'navigation.veggies' | translate}}</a></li>
                    <li><a routerLink="../contact">{{'navigation.contact' | translate}}</a></li>
                    <li><a routerLink="../sitemap">{{'navigation.sitemap' | translate}}</a></li>
                </ul>
            </nav>
        </div>
        <div>
            <p class="mat-body">{{'footer.copyright' | translate}}</p>
        </div>
    </div>
</footer>