<footer fxLayout="column" fxLayoutAlign="flex-start center" class="content-section">
    <div fxLayout="column"  class="footer-layout">
        <div fxLayout="column" fxLayoutAlign="flex-start stretch"
        fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between flex-start">
            <div>
                <h1 class="mat-headline">VeggieWeb</h1>
                <p class="mat-body">{{'footer.pageDescription' | translate}}</p>

                <div class="social">
                    <ul fxLayout="row" fxLayoutAlign="flex-start center">
                        <li>
                            <a fxLayout="row" fxLayoutAlign="flex-start center" href="https://twitter.com/?lang=es" title="{{'accessibility.twitterLinkDescription' | translate}}">
                                <i class="fab fa-twitter" alt=""></i>
                                Twitter
                            </a>
                        </li>
                        <li>
                            <a fxLayout="row" fxLayoutAlign="flex-start center" href="https://www.youtube.com/" title="{{'accessibility.youtubeLinkDescription' | translate}}">
                                <i class="fab fa-youtube" alt=""></i>
                                Youtube
                            </a>
                        </li>
                        <li>
                            <a fxLayout="row" fxLayoutAlign="flex-start center" href="https://es-es.facebook.com/" title="{{'accessibility.facebookLinkDescription' | translate}}">
                                <i class="fab fa-facebook" alt=""></i>
                                Facebook
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="flex-start flex-start" fxLayoutGap="20px" class="footer-navigation">
                <nav attr.aria-label="{{'accessibility.navigationAria' | translate}}-footer">
                    <h2>{{'footer.navigation' | translate}}</h2>
                    <ul>
                        <li><a routerLink="../home" title="{{'accessibility.homeLinkDescription' | translate}}">{{'navigation.home' | translate}}</a></li>
                        <li><a routerLink="../veggie/list" title="{{'accessibility.veggiesLinkDescription' | translate}}">{{'navigation.veggies' | translate}}</a></li>
                        <li><a routerLink="../contact" title="{{'accessibility.contactLinkDescription' | translate}}">{{'navigation.contact' | translate}}</a></li>
                        <li><a routerLink="../sitemap" title="{{'accessibility.sitemapLinkDescription' | translate}}">{{'navigation.sitemap' | translate}}</a></li>                                   
                    </ul>
                </nav>

                <nav attr.aria-label="{{'accessibility.languageAria' | translate}}-footer">

                    <h2>{{'footer.languages' | translate}}</h2>
                    <ul>
                        <li lang="es">
                            <button type="button" mat-button color="primary" disabled="{{isLanguageSelected('es')}}" (click)="changeLanguage('es')">Español</button>
                        </li>
                        <li lang="en">
                            <button type="button" mat-button color="primary" disabled="{{isLanguageSelected('en')}}" (click)="changeLanguage('en')">English</button>
                        </li>
                    </ul>                    
                </nav>
            </div>
        </div>
        <div>
            <p class="mat-body">{{'footer.copyright' | translate}}</p>
        </div>
    </div>
</footer>