<div fxLayout="column" fxLayoutAlign="flex-start stretch" class="content-section">
    <div fxLayout="column" fxLayoutAlign="center flex-start" class="main-title horizontal-padding" >
        <h1 class="mat-display-3">{{'homePage.title' | translate}}</h1>
    </div>
    <div></div>
    <div fxLayout="column" fxLayoutAlign="flex-start stretch" class="why-veggieweb-section">
        <div class="horizontal-padding">
            <h2>{{'homePage.whyVeggieWeb.title' | translate}}</h2>
        </div>
        <div class="why-veggieweb-reasons">
            <mat-card>
                <mat-card-content>
                    <h3>
                        <mat-card-title>{{'homePage.whyVeggieWeb.healthyLifestyleTitle' | translate}}</mat-card-title>
                    </h3>
                <p>{{'homePage.whyVeggieWeb.healthyLifestyleDescription' | translate}}</p>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>
                    <h3>
                        <mat-card-title>{{'homePage.whyVeggieWeb.timeForYouTitle' | translate}}</mat-card-title>
                    </h3>
                <p>{{'homePage.whyVeggieWeb.timeForYouDescription' | translate}}</p>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>
                    <h3>
                        <mat-card-title>{{'homePage.whyVeggieWeb.easyInstructionsTitle' | translate}}</mat-card-title>
                    </h3>
                <p>{{'homePage.whyVeggieWeb.easyInstructionsDescription' | translate}}</p>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>
                    <h3>
                        <mat-card-title>{{'homePage.whyVeggieWeb.amazingHobbyTitle' | translate}}</mat-card-title>
                    </h3>
                <p>{{'homePage.whyVeggieWeb.amazingHobbyDescription' | translate}}</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div fxLayout="column" fxLayoutAlign="flex-start stretch">
        <h2>{{'homePage.aboutUs.title' | translate}}</h2>
        <div class="home-item">
            <mat-card>
                <img alt="{{'homePage.aboutUs.manyVeggiesPhotoAlt' | translate}}" mat-card-image src="https://cdn.pixabay.com/photo/2016/08/11/08/04/vegetables-1584999_960_720.jpg" >
                <mat-card-content>
                    <h3>
                        <mat-card-title>{{'homePage.aboutUs.manyVeggiesTitle' | translate}}</mat-card-title>
                    </h3>
                <p>{{'homePage.aboutUs.manyVeggiesDescription' | translate}}</p>
                </mat-card-content>
            </mat-card>

            <mat-card>
                <img alt="{{'homePage.aboutUs.veggiesClassificationPhotoAlt' | translate}}" mat-card-image src="https://cdn.pixabay.com/photo/2016/06/19/10/17/office-1466390_960_720.jpg" >
                <mat-card-content>
                    <h3>
                        <mat-card-title>{{'homePage.aboutUs.veggiesClassificationTitle' | translate}}</mat-card-title>
                    </h3>
                <p>{{'homePage.aboutUs.veggiesClassificationDescription' | translate}}</p>
                </mat-card-content>
            </mat-card>

            <mat-card>
                <img alt="{{'homePage.aboutUs.directContactPhotoAlt' | translate}}" mat-card-image src="https://cdn.pixabay.com/photo/2016/02/07/21/03/computer-1185626_960_720.jpg" >
                <mat-card-content>
                    <h3>
                        <mat-card-title>{{'homePage.aboutUs.directContactTitle' | translate}}</mat-card-title>
                    </h3>
                <p>{{'homePage.aboutUs.directContactDescription' | translate}}</p>
                </mat-card-content>
            </mat-card>

            <mat-card>
                <img alt="{{'homePage.aboutUs.futureImprovementsPhotoAlt' | translate}}" mat-card-image src="https://cdn.pixabay.com/photo/2016/03/09/15/22/painter-1246619_960_720.jpg" >
                <mat-card-content>
                    <h3>
                        <mat-card-title>{{'homePage.aboutUs.futureImprovementsTitle' | translate}}</mat-card-title>
                    </h3>
                <p>{{'homePage.aboutUs.futureImprovementsDescription' | translate}}</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div fxLayout="column" fxLayoutAlign="center center" class="ready-to-section">
        <mat-card fxFlex="nogrow">
            <mat-card-content>
                <h2 class="text-center">{{'homePage.readyToStart' | translate}}</h2>
                <p class="text-center">{{'homePage.readyToStartDescription' | translate}}</p>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <button mat-button type="button" color="primary" routerLink="../veggie/list">{{'homePage.start' | translate}}</button>
                </div>
            </mat-card-content>
        </mat-card>      
    </div>
</div>
